.product-image {
  width: 18rem;
}
body {
  background-color:#f5ebe0;
  overflow: hidden;
   
}

.nav li {
  font-style:inherit;
  

  }
  .nav-link{
    color: #110702;
  }
  .nav-link:hover {
    color: #110702;
  }
  p {
    text-align: justify;
  }
  .afooter {
    
    position: auto; 
    bottom: 0%;
    padding: 1%;
}
.afooter p {
  text-align: center;
}


